<!DOCTYPE html>
<html>
  <head>
    <title>Your Cart</title>
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <div class="cart-container">
      <h1>Cart</h1>
      <br>
      <p><%=cart.length%> Items in Cart<hr></p>
      
      <!-- Check if the cart has items -->
        <div class="box">
      <div class="itembox">
        <% if (cart.length > 0) { %> <% cart.forEach(item => { %>
        <div class="item">
            
          <div class="info1">
            <img class="image"
              src="https://res.cloudinary.com/drvlktf2h/image/upload/v1691843900/CodePlay/bvvfqhsu9bloceus9xyz.png"
              alt=""
            />
            <div class="infoo">
                <h1 class="name"><%= item.foodName %></h1>
            <div class="price">₹<%= parseFloat(item.price).toFixed(2) %></div>
            <div class="quantity">
              <!-- Decrement Button -->
              <form
                action="/cart/decrement"
                method="POST"
                style="display: inline"
              >
                <input
                  type="hidden"
                  name="foodName"
                  value="<%= item.foodName %>"
                />
                <button type="submit" class="decrement-button">-</button>
              </form>
              <!-- Current Quantity -->
              <div><%= item.quantity %></div>
              <!-- Increment Button -->
              <form
                action="/cart/increment"
                method="POST"
                style="display: inline"
              >
                <input
                  type="hidden"
                  name="foodName"
                  value="<%= item.foodName %>"
                />
                <button type="submit" class="increment-button">+</button>
              </form>
            </div>
            </div>
            </div>
            
            <div class="info2">
              <!-- Button to remove item from the cart -->
              <form action="/cart/remove" method="POST" style="display: inline">
                <input
                  type="hidden"
                  name="foodName"
                  value="<%= item.foodName %>"
                />
                <button type="submit" class="delete-button">Remove</button>
              </form>
              <div class="tprice">
                ₹<%= parseFloat(item.price* item.quantity).toFixed(2) %>
              </div>
            </div>
        </div>
        <hr>
        
        <% }); %>
      </div>

      <div class="total">
        <h3>Total: <br><span>₹<%= totalPrice.toFixed(2) %></span></h3>
        <!-- Proceed to Payment Button -->
        <form action="/checkout" method="GET">
          <button type="submit" class="proceed-payment-button">
            Proceed to Payment
          </button>
        </form>
      </div>
    </div>
</div>

      <% } else { %>
      <p>Your cart is empty.</p>
      <% } %>
    </div>
</div>
</div>
    <%-include("./partial/Footer");%>
  </body>
</html>
